{{#if isAuthenticated}}
    <h1>Admin</h1>
    <form action="/admin" method="post" enctype="multipart/form-data">
        {{#each preview}}
            <input name={{this._id}} type="checkbox" {{bind-attr checked="featured"}}> {{this.name}}, {{this.info}} </input>
            </br>
        {{/each}}
        <p><input type="Submit"></p>
    </form>
{{else}}
    {{> login}}
{{/if}}

